@use "./partial/variables" as *;

@import 'bootstrap/scss/bootstrap';

header{
  height: $headerHeight;
  background-color: $headerBackgroundColor;
}
body{
  background-image: url("/images/hieroglyphs-bg.png");
}
main{
  height: calc(100vh - $headerHeight);
}